@import "../../../assets/styles/colors-variables.css";

button {
    display: block;
    box-sizing: border-box;
}

.sign {
    margin: auto;
    padding: 12px 24px;
    color: var(--white);
    border-color: var(--light-blue);
    border-radius: 8px;
    box-shadow: 0 0 40px 40px var(--light-blue) inset, 0 0 0 0 var(--light-blue);
    transition: all 150ms ease-in-out;
}
.sign:hover {
    color: var(--light-blue);
    box-shadow: 0 0 10px 0 var(--light-blue) inset, 0 0 10px 4px var(--light-blue);
}
