@import "../../../static/assets/styles/colors-variables.css";

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error--text {
    color: var(--dark-grey);
}
