@import "../../../static/assets/styles/colors-variables.css";

.header-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: var(--cadet-blue);
    box-shadow: var(--base-shadow);
}

.header-chat__profile-info {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--dark-grey);
    cursor: pointer;
}

.header-chat__profile-info--avatar {
    width: 60px;
    height: 60px;
    margin-left: 24px;
    margin-right: 12px;
    border-radius: 100%;
}
