---
title: 'Sign in page'
css:
- 'signForms.css'
---
{{!< base}}

<main class="sign-container">
    <form class="sign__form">
        <h1 class="sign__title h1">Sign in</h1>
        <p class="p1">Login</p>
        {{> input type="text" inputName="login"}}
        <p class="p1">Password</p>
        {{> input type="password" inputName="password"}}
        <a href="messenger.page.hbs">{{> button classes="sign" type="button" textBtn="Sign in"}}</a>

        <p class="sign__form--link p1"><a href="registration.page.hbs">Sign up</a> for new user</p>
    </form>
</main>
