@import "../static/assets/styles/fonts.css";
@import "../static/assets/styles/reset.css";
@import "../static/assets/styles/colors-variables.css";

div#app {
    height: 100%;
}

main {
    height: 100%;
}

.messenger-page {
    display: flex;
}
