<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="stylesheet" href="../../assets/styles/fonts.css">
    <link rel="stylesheet" href="../partials/styles/partials.css">
    {{#each css}}
        <link rel="stylesheet" href="../pages/styles/{{this}}">
    {{/each}}
    {{#each title}}
        <title>{{this}}</title>
    {{/each}}
</head>
    <body>
        {{{body}}}
    </body>
</html>
